body{
    margin:0%;
    padding: 0%;
    background-image: url("images/bg.jpg");
    
}

.topper{
    background-color:rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 200px;
    
   
}

.Header{
    margin:0%;
    padding-top: 2%;
    padding-left: 6%;
    color:wheat;
    font-size: 90px;
    
}
.bodypart{
   
 background-image: url("images/bgw.jpg");
 width: 50%;

 margin-top:10%;
 margin-left: 10%;
 padding: 18%;
 padding-left: 30%;
 border-radius: 30px;
 border: 1px solid rgb(255, 255, 255);
 color:  rgba(0, 0, 0, 0.9);;
 
    
}
.bodypartmain{
    width: 30%; 
   
}
.editorbody{
    padding-left: 30px;
}
.bodyparttable{
    border-spacing: 30px;
}

.bodyparttableprogress{
    float: right;
margin-right: -20%;
margin-top: 0%;
}
.UpperText{

   
    padding-left: 23%;

}
.bodypartsubmit{
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid black;
    padding: 0%;
    /* text-align: center; */
    
    width: 100%;
    margin-left: -16%;

    text-align: center;
    font-size: 160%;
    margin-top: 3%;
    cursor: pointer;
    transition-duration: 2s;    

}

.bodypartsubmit:hover{  
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
}
.bodyparttableprogressText{

    float: left;
    margin-top: 0%;
    margin-left: -52%;

}



